html {
  font-size: 16px;
}



.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 1rem;
  row-gap: 1.5rem;
} 


.card {
 
  position: relative;
  width: 20vw;
  cursor: pointer;
  transition-property: top;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

.card:hover {
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.2);
  top: -10px;
}

.card-img {
  margin: 0px;
  height: 10rem;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.title {
  color: #603fef;
}

.filter
{
  width: 100vw;
}

.price-input
{
  width: 30vw;
}

.label-off
{
  position: relative;
  top: 4px;
}
.btn-off
{
    position: relative;
    bottom: 3px;
}